/*Elements*/

body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}


/*Uses list*/
#ciklumers-list-container {
    margin-top: -20px;
}
.ciklum-user-list-element {
    margin-top: 20px;
}
.ciklum-user-list-element-name {
    font-size: 20px;
    margin-bottom: 10px !important;
}
.ciklum-user-list-element-avatar {

    height: 65px;
}

/*Details*/
.ciklum-user-details-edit-label {
    vertical-align: middle !important;
}
.ciklum-user-details-edit-input {
    margin-bottom: 0 !important;
}


